/* style sheet for NewYorkTimes Assignment */

/* TOP NAV */

.topnav {
    overflow: hidden;
    background-color: cadetblue;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: cadetblue;
  }
  
  .topnav a.active {
    background-color:cadetblue;
    color: white;
  }

  .btn {
    background: cadetblue;
    border: 1px black;
    color: white;
  }

  .btn a.active {
    background-color:tomato;
    color: white;
  }

  div { 
    display: block; 
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: Century 'Franklin Gothic Medium';
  }